import url(https://maendisease.github.io/BetterDiscordStuff/css/bettterInvites.css);

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 17:10:44
 * Created by Sappy#8123 (741262207391629343)
 * Snippet ID: 944217182890524682
 */
.homeIcon-r0w4ny path {display:none}
.homeIcon-r0w4ny {
background-repeat: no-repeat;
background-image: url(https://media.discordapp.net/attachments/783218074823426068/944524792458002472/output-onlinepngtools.png?width=455&height=455);
background-size: contain;
background-position: center;
}
/** 944217182890524682 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 17:23:55
 * Created by psychopomp#0001 (769458245449285632)
 * Snippet ID: 943956328353759233
 */
.pronoundb-pronouns.aboutMeBody-1J8rhz {
  --separation: 10px 0;
  --borders: 1px var(--background-modifier-accent) solid;
  margin: var(--separation);
  padding: var(--separation);
  border-top: var(--borders);
  border-bottom: var(--borders);
}
/** 943956328353759233 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 17:23:59
 * Created by Sera#0788 (155159390637260800)
 * Snippet ID: 943761398754848769
 */
/* General profile padding changes */
/* Body padding changes */
#app-mount .userPopout-2j1gM4 { padding-bottom: 16px; }
#app-mount .userPopout-2j1gM4 .body-2wLx-E > div { margin-bottom: 8px; }

/* Profile info (Rolenames, activity, notes etc) */
/* Stylized subtitles, divider style */
#app-mount .userPopout-2j1gM4 .body-2wLx-E 
:is(h3, .activity-1gTu-L .headerContainer-1wJjOa) {
  height: 1px;
  background-color: var(--background-modifier-accent);
  margin-bottom: 8px;
  font-size: 0px;
}
#app-mount .userPopout-2j1gM4 .divider-1wtgZ3 { display: none; }

/* Roles */
#app-mount .userPopout-2j1gM4 .body-2wLx-E .rolesList-3uZoaa { margin: 0 0 4px; }
#app-mount .userPopout-2j1gM4 .body-2wLx-E 
div[aria-label="No Roles"] + .bodyTitle-2Az3VQ { display: none; }

/* Activity, Spotify */
/* TODO: Not 100% perfect, needs improvement */
#app-mount .userPopout-2j1gM4 .activity-1gTu-L { padding: 0; }
#app-mount .userPopout-2j1gM4 .activity-1gTu-L 
:is(.headerContainer-1wJjOa, .bodyNormal-250CQK) h3 { display: none; }
#app-mount .userPopout-2j1gM4 .activity-1gTu-L .headerContainer-1wJjOa ~ div {
  padding-bottom: 8px;
  margin: 0;
}
#app-mount .userPopout-2j1gM4 .activity-1gTu-L 
  .platformIcon-k3yytQ { display: none; }

/* User notes */
#app-mount .userPopout-2j1gM4 .note-Go5ZP2 { margin: 0; }

/* User DM */
#app-mount .userPopout-2j1gM4 .footer-3naVBw { padding: 8px 16px 0; }

/* PronounDB support - move pronouns up */
#app-mount .userPopout-2j1gM4 .bodyInnerWrapper-2bQs1k {
  margin-bottom: 0 !important;
  display: flex;
  flex-direction: column;
}
#app-mount .userPopout-2j1gM4 .note-Go5ZP2 + .bodyTitle-2Az3VQ { display: none; }
#app-mount .userPopout-2j1gM4 .bodyTitle-2Az3VQ + .size14-3fJ-ot {
  order: -1;
  margin-bottom: 8px;
  color: var(--text-normal);
}
/** 943761398754848769 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 17:24:02
 * Created by Sera#0788 (155159390637260800)
 * Snippet ID: 943756598923395113
 */
/* Improved user name + banner */
/* Banner + avatar */
#app-mount .userPopout-2j1gM4 .banner-1YaD3N { height: 124px; }
#app-mount .userPopout-2j1gM4 .banner-1YaD3N div { display: none; }
#app-mount .userPopout-2j1gM4 [class*="avatarPosition"] { top: 16px; }
#app-mount .userPopout-2j1gM4 .avatar-2Vndt_ {
  filter: drop-shadow(0px 0px 5px black);
  border: 6px solid transparent;
  background-color: rgb(0,0,0,0.25);
}

/* Name display */
#app-mount .userPopout-2j1gM4 .headerTop-3GPUSF {
  padding: 8px 16px;
  background-image: linear-gradient(to left, var(--background-floating), rgb(0,0,0,0.5));
  border-top-right-radius: inherit;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  right: 0;
  width: 144px;
  height: 108px;
}

/* Badges */
#app-mount .userPopout-2j1gM4 .headerTop-3GPUSF .headerText-1-WmDq { margin: auto 0; }
#app-mount .userPopout-2j1gM4 .headerTop-3GPUSF .profileBadges-2pItdR {
  justify-content: flex-start;
  position: initial;
}

#app-mount .userPopout-2j1gM4 .body-2wLx-E { padding: 8px 16px 0px; }
/** 943756598923395113 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 17:24:42
 * Created by Taro#1815 (97266843542102016)
 * Snippet ID: 940684000668819506
 */
[class*="jumpToPresentBar"] {
    display: contents;
}
[class*="jumpToPresentBar"] > button:first-child {
    display: none;
}
[class*="jumpToPresentBar"] > button:last-child {
    position: absolute;
    bottom: 24px; /* fixed the position relative to right part */
    right: 22px; /* so it doesn't look so close/odd */
    padding: 8px !important;
    height: auto;
    background-color: var(--background-secondary); /* changed color to darker gray */
    /*box-shadow: var(--elevation-high); I don't like the shadow */
    border-radius: 100px;
    display: flex;
    font-size: 0;
    color: transparent;
    transition: font-size .2s .1s, color .2s, padding .4s .1s;
}
[class*="jumpToPresentBar"] > button svg {
    order: -1;
    margin: 0;
    height: 24px;
    width: 24px;
    top: unset;
    margin-right: 4px;
    margin-left: 0;
    margin-right: 0;
    color: var(--text-normal);
    transition: margin .6s;
}

[class*="jumpToPresentBar"]:hover > button {
    padding: 8px 18px !important;
    font-size: 14px;
    color: var(--text-normal);
    transition: font-size .2s, color .2s .1s, padding .4s;
}
[class*="jumpToPresentBar"]:hover > button svg {
    margin-right: 2px;
    margin-left: -6px;
}
/** 940684000668819506 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 17:24:50
 * Created by Taro#1815 (97266843542102016)
 * Snippet ID: 940666593195753562
 */
.wrapper-3kah-n[href^="/channels/@favorites/"] > .childWrapper-1j_1ub > svg {
    /* yellow star :D */
    color: #f3f545;
    transform: scale(1.5);
}
[aria-label*="Favorites (server)"] > .container-1-ERn5 > .header-3OsQeK > .name-3Uvkvr path {
    color: #f3f545;
    transform: scale(0.5);
    d: path("M 21.924 8.61789 C 21.77 8.24489 21.404 8.00089 21 8.00089 H 15.618 L 12.894 2.55389 C 12.555 1.87689 11.444 1.87689 11.105 2.55389 L 8.38199 8.00089 H 2.99999 C 2.59599 8.00089 2.22999 8.24489 2.07599 8.61789 C 1.92199 8.99089 2.00699 9.42289 2.29299 9.70789 L 6.87699 14.2919 L 5.03899 20.7269 C 4.92399 21.1299 5.07199 21.5619 5.40999 21.8089 C 5.74999 22.0569 6.20699 22.0659 6.55399 21.8329 L 12 18.2029 L 17.445 21.8329 C 17.613 21.9449 17.806 22.0009 18 22.0009 C 18.207 22.0009 18.414 21.9369 18.59 21.8089 C 18.928 21.5619 19.076 21.1299 18.961 20.7269 L 17.123 14.2919 L 21.707 9.70789 C 21.993 9.42289 22.078 8.99089 21.924 8.61789 Z");
}
/** 940666593195753562 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 17:25:06
 * Created by Nate's World#2102 (899762612668096512)
 * Snippet ID: 939932417530167396
 */
@font-face {
    font-family: dash2space;
    unicode-range: U+002D;
    src: url(https://smarty6788.github.io/Dash2Space/src/font/dash2space.ttf) format('truetype'), url(https://smarty6788.github.io/Dash2Space/font/dash2space.woff2) format('woff2')
}

.title-17SveM {
text-transform: capitalize;
font-family: dash2space, var(--font-primary);
}
/** 939932417530167396 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 17:25:22
 * Created by Obscure.#4719 (755436063828213821)
 * Snippet ID: 937332770567499817
 */
:root {
    --spotify-color: #1ED860;
}

.powercord-spotify {
    margin-top: 1px;
    background-color: var(--background-secondary) !important;
    margin-bottom: 10px;
    border-radius: 5px;
}

.powercord-spotify>.container-YkUktl {
    background-color: var(--spotify-color);
    color: #fff;
    border-radius: 5px;
}

.powercord-spotify.hover>.container-YkUktl {
    margin-bottom: 12px;
}

.spotify-title > .title-338goq{
    color: #fff;
}

.spotify-cover {
    overflow: hidden;
    margin-top: -4px !important;
    width: 35px !important;
    height: 35px !important;
    -webkit-box-shadow: 0px 6px 27px 0px rgba(0,0,0,0.6);
}

.spotify-artist {
    color: #eee;
}

.powercord-spotify .spotify-seek-bar-progress {
    background-color: var(--spotify-color) !important;
    border-radius: 7px !important;
}

.powercord-spotify .spotify-seek-elements {
    display: flex;
    justify-content: space-between;
    color: var(--text-normal);
    font-size: 12px !important;
    padding: 5px 0px 0px !important;
    font-weight: 500 !important;
}

.powercord-spotify .spotify-buttons button:hover {
    background-color: var(--background-secondary);
    color: var(--spotify-color) !important;
    -webkit-box-shadow: 0px 6px 27px 0px rgba(0,0,0,0.6);
}

.powercord-spotify .spotify-buttons .button-12Fmur {
    color: #eee !important;
}

.powercord-spotify .button-12Fmur {
    color: #eee !important;
}
.powercord-spotify .spotify-seek-bar{
    height: 4px !important;
    border-radius: 5px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    background: var(--background-primary) !important;
}
.powercord-spotify .spotify-seek-bar-progress{
    border-radius:42px!important
}
.powercord-spotify .spotify-seek-elements,.powercord-spotify.hover .spotify-seek-elements{
    font-size:80%!important;
    margin: 3px 15px 3px 15px !important;
    color: #fff !important;
}
/** 937332770567499817 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 17:25:37
 * Created by Loremly#9359 (597072695875600385)
 * Snippet ID: 936019122007982161
 */
.header-3OsQeK {
  box-shadow: none;
}

.animatedContainer-2laTjx {
  box-shadow: none;
}

.animatedContainer-2laTjx::before {
  background: linear-gradient(transparent 0%, var(--background-secondary) 100%, transparent 0%);
  position: absolute;
  content: "";
  height: 20px;
  width: 100%;
  bottom: 0;
  z-index: 1;
}
/** 936019122007982161 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 17:25:44
 * Created by progamer#3321 (555950071502602240)
 * Snippet ID: 933884278377439322
 */
.messagesPopoutWrap-3zryHW{
  max-height:70vh !important;
  width:30vw;
}
/** 933884278377439322 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 17:25:54
 * Created by Cedrick#6644 (523011655051902976)
 * Snippet ID: 933426439934607410
 */
@keyframes spindefault {
  from {
     transform:rotate(0deg);
  }
  to {
     transform:rotate(360deg);
  }
}
.circleIconButton-1VxDrg:hover .circleIcon-3489FI{
  animation: spindefault 1s linear infinite;
}
/** 933426439934607410 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 17:26:24
 * Created by Honkertonken#9221 (694835810347909161)
 * Snippet ID: 932215873580728390
 */
@keyframes rainbow-server-settings {
  from {
   -webkit-filter: hue-rotate(0deg);
  }
  to {
   -webkit-filter: hue-rotate(360deg);
  }
}
.name-3Uvkvr{
  color: #00e5ff;
  animation: rainbow-server-settings 3s infinite linear; 
}
.button-2BMPJJ{
  color: #00e5ff;
  animation: rainbow-server-settings 3s infinite linear; 
}
/** 932215873580728390 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 17:27:29
 * Created by 5h3i1ah#6253 (268947234861744130)
 * Snippet ID: 931904851586195476
 */
.pronoundb-pronouns {
    font-size: 0.75rem !important;
    height: 1.25rem;
    cursor: default;
    font-weight: 500;
}
/** 931904851586195476 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 17:29:04
 * Created by Scraft161#7470 (234712283912077313)
 * Snippet ID: 929917423086346301
 */
/** Optional */
@import "https://spinfish.github.io/css-snippets/snippets/filled-roles.css";

:root {
    /** Number of role columns */
    --roleslist-columns: 2;
}

[class*="rolesList-"] {
    display: grid;
    grid-template-columns: repeat(var(--roleslist-columns), minmax(0, 1fr));
    background: var(--background-tertiary);
    padding: 12.5px;
    gap: 4.5px;
    border-radius: 8px;
    max-height: 150px;
    overflow: auto;
}
[class*="rolesList-"]::-webkit-scrollbar {
    width: 4.5px;
}
[class*="rolesList-"]::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--background-modifier-hover);
}
[class*="rolesList-"] > [class*="role-"] {
    margin: 0;
    justify-content: center;
}
[class*="rolesList-"] [class*="roleCircle-"] {
    flex-shrink: 0;
}
[class*="rolesList-"] [class*="roleName-"] {
    margin: auto;
}

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 17:33:55
 * Created by legume#0173 (574870314928832533)
 * Snippet ID: 924560230442995772
 */
.focusLock-Ns3yie[aria-label="User profile modal"],
.focusLock-Ns3yie[aria-label="User profile modal"] > .root-1gCeng {
    width: 450px;
}
.root-1gCeng .profileBannerPremium-35utuo {
    transform: scale(0.8);
    right: 75px;
    top: -25px;
}
.root-1gCeng .gifTag-kA7fXf {
    right: 30px;
}
.root-1gCeng .banner-2QYc2d:not(.profileBannerPremium-35utuo) {
    height: 80px;
}
.root-1gCeng .pencilContainer-2TbNwJ {
    right: 165px;
}
.connectedAccounts-QlRa4m {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.connectedAccount-2Jb-Z0 {
    margin: unset;
    width: -webkit-fill-available;
}
.connectedAccount-2Jb-Z0:is(:nth-child(1), :nth-child(2)) {
    margin-top: 20px;
}
.headerTop-547GTz {
    top: var(--top-amount, 16px);
    flex-direction: column;
    align-items: flex-end;
}
.badgeList-1R1WgZ {
    margin-right: 0;
    padding-left: 5px;
    padding-right: 5px;
    background: var(--background-primary);
    border-radius: 3px;
    margin-bottom: 7px;
    justify-content: center;
}
.relationshipButtons-pUQVkf {
    margin-bottom: 5px;
}
.profileBannerPremium-35utuo + .header-4zuFdR {
    --top-amount: -25px;
}
.relationshipButtons-pUQVkf {
    --additionalbutton-bg: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);
}
.additionalActionsIcon-365LnQ {
    height: 32px;
    border-radius: 3px;
    color: white !important;
    margin-left: 5px;
    background: var(--additionalbutton-bg);
    transition: 0.17s ease;
    transition-property: background-color, color;
}
.relationshipButtons-pUQVkf > :last-child:hover {
    --additionalbutton-bg: hsl(139, calc(var(--saturation-factor, 1) * 47.1%), 33.3%);
}
.relationshipButtons-pUQVkf > :last-child:active {
    --additionalbutton-bg: hsl(138, calc(var(--saturation-factor, 1) * 47%), 25.9%);
}

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 17:51:45
 * Created by Nate's World#2102 (899762612668096512)
 * Snippet ID: 911722839277727757
 */
:root {
  --splash-height: unset;
  --splash-width: 255px;
  --padding: 45px;
  --blur: 5px;
  --box-shadow-color: rgba(0, 0, 0, .5);
  --border-size: 5px;
  --border-radius: 10px;
  --border-color: #5865f2;
  --background-color: rgba(0, 0, 0, .5);
}
.container-16j22k {
    background-color: unset;
    backdrop-filter: blur(var(--blur));
}
.content-1-zrf2 {
    width: var(--splash-width);
    padding: var(--padding) 0;
        background-color: var(--background-color);
    border: var(--border-size) solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: 0px 0px var(--blur) var(--box-shadow-color);
}
/** 911722839277727757 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 17:52:02
 * Created by Freeplay#5676 (158296466119458816)
 * Snippet ID: 911437473782046720
 */
[class*="blob-"]:nth-child(1),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.1s infinite alternate !important;
}
[class*="blob-"]:nth-child(2),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.2s infinite alternate !important;
}
[class*="blob-"]:nth-child(3),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.3s infinite alternate !important;
}
[class*="blob-"]:nth-child(4),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.4s infinite alternate !important;
}
[class*="blob-"]:nth-child(5),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.5s infinite alternate !important;
}
[class*="blob-"]:nth-child(6),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.6s infinite alternate !important;
}
[class*="blob-"]:nth-child(7),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.7s infinite alternate !important;
}
[class*="blob-"]:nth-child(8),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.8s infinite alternate !important;
}
[class*="blob-"]:nth-child(9),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.9s infinite alternate !important;
}
[class*="blob-"]:nth-child(10),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 1s infinite alternate !important;
}
@keyframes fadeAnim {
  from {
    filter: opacity(1);
  }
  to {
    filter: opacity(0.4);
  }
}
```

**Stylus:** (preprocessor)
```stylus
// Blob Placeholders
@keyframes fadeAnim {
    from { filter: opacity( 1); }
    to   { filter: opacity(.4); }
}
for row in (1..10) {
    [class*="blob-"]:nth-child({row}),
    [style*="opacity: 0.03"], [style*="opacity: 0.08"] {
        animation: fadeAnim .7s .1s * row infinite alternate !important;
    }
}
/** 911437473782046720 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 17:52:09
 * Created by ͅ˞#0069 (596481615253733408)
 * Snippet ID: 911017480854585365
 */
@keyframes expand_attachment_area {
    from {
        height: 0;
    }
    to {
        height: 218px;
    }
}
ul[class*="channelAttachmentArea-"] {
    animation-name: expand_attachment_area;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
/** 911017480854585365 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 17:59:15
 * Created by akisblack#6148 (845535118285602866)
 * Snippet ID: 903307835864129657
 */
.contentColumnDefault-1VQkGM > div > :nth-child(1) {
    font-size: 20px;
    line-height: 24px;
    text-transform: none;
}
/** 903307835864129657 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 17:59:48
 * Created by ͅ˞#0069 (596481615253733408)
 * Snippet ID: 901614342674464808
 */
div[class*="wrapper-3t9DeA"][data-bsi-status="streaming"]>svg[class="mask-1l8v16 svg-2V3M55"] {
    filter: drop-shadow(0 0 6px rgb(var(--streaming)));
}
div[class*="wrapper-3t9DeA"][data-bsi-status="dnd"]>svg[class="mask-1l8v16 svg-2V3M55"] {
    filter: drop-shadow(0 0 6px rgb(var(--dnd)));
}
div[class*="wrapper-3t9DeA"][data-bsi-status="idle"]>svg[class="mask-1l8v16 svg-2V3M55"] {
    filter: drop-shadow(0 0 6px rgb(var(--idle), 0.75));
}
div[class*="wrapper-3t9DeA"][data-bsi-status="online"]>svg[class="mask-1l8v16 svg-2V3M55"] {
    filter: drop-shadow(0 0 6px rgb(var(--online), 0.75));
}
/** 901614342674464808 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 18:00:20
 * Created by Kewl Sage of the Stone#4200 (497161437051879444)
 * Snippet ID: 897977655587115059
 */
div[aria-label] .listItem-1hlISG foreignObject {
    mask: none;
}
div[aria-label] .pill-1z4sAY {
    width: 72px;
    overflow: visible;
}
div[aria-label] .listItem-1hlISG:hover .item-2hkk8m,
div[aria-label] .listItem-1hlISG:hover .icon-27yU2q,
div[aria-label] .listItem-1hlISG .selected-bZ3Lue .icon-27yU2q,
.folder-1hbNCn {
    border-radius: 16px;
}
div[aria-label] .icon-27yU2q {
    -webkit-transition: border-radius .2s;
    transition: border-radius .2s;
    border-radius: 24px;
}
div[aria-label] .item-2hkk8m {
    position: relative;
    left: 16.5px;
    width: 47px;
    height: 47px !important;
    border-radius: 24px;
    filter: drop-shadow(0 0 6px var(--brand-experiment));
    background-color: var(--brand-experiment);
    -webkit-transition: border-radius .2s;
    transition: border-radius .2s;
}
/** 897977655587115059 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 18:02:01
 * Created by Little Furret#7901 (524016475661664256)
 * Snippet ID: 892987734443032576
 */
[class*="roleIcon"] {
    float: left;
    margin-left: 0rem;
    margin-right: .25rem;
}

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 18:08:04
 * Created by legume#0173 (574870314928832533)
 * Snippet ID: 873784799314198548
 */
.compact-T3H92H {
  --reply-message-margin: 10px;
}
.repliedMessage-VokQwo {
  background-color: var(--background-secondary);
  border-radius: 5px;
  padding: 5px 10px;
  transition: 300ms background-color;
  width: min-content;
  max-width: 800px;
}
.repliedMessage-VokQwo:hover {
  background-color: var(--background-modifier-hover);
}
.repliedMessage-VokQwo:active {
  background-color: var(--background-modifier-active);
}
.repliedMessage-VokQwo::before {
  margin-right: var(--reply-message-margin);
}
/** 873784799314198548 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 18:08:48
 * Created by Davri#0015 (457579346282938368)
 * Snippet ID: 872058784338542592
 */
:root {
    --profile-border-width: 2px
}
.root-8LYsGj {
    padding: var(--profile-border-width);
    border-radius: 10px;
}
.topSection-13QKHs {
    margin-top: 239px;
}
.topSection-13QKHs .banner-1YaD3N {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-size: calc(100% - calc(var(--profile-border-width) * 2));
    background-position: center var(--profile-border-width);
    z-index: -1;
}
.topSection-13QKHs .banner-1YaD3N::after {
    content: '';
    margin: calc(var(--profile-border-width) - 2px);
    display: block;
    background-color: inherit;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    width: 100%;
    height: 244px;
    clip-path: path("M 0 0 V 12 H 2 Q 2 2 12 2 V 0 Z M 604.5 0 V 12 H 602.5 Q 602.5 2 592.5 2 V 0 Z");
}
.header-S26rhB {
    top: -76px;
}
.body-1Ukv50 {
    border-radius: 0 0 8.5px 8.5px;
}
/** 872058784338542592 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 18:09:01
 * Created by Vabolos#7777 (419195631198928906)
 * Snippet ID: 871872610869329970
 */
.spine--Wla_O {
  color: rgb(255, 255, 255);
}

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 18:10:48
 * Created by Davri#0015 (457579346282938368)
 * Snippet ID: 871658900930326598
 */
.popoutBanner-3cqRD9 {
    height: 120px;
}
.profileBanner-1owKI5 {
    height: 240px;
}
.avatarPositionNormal-2jWoC2 {
    top: 76px;
}
/** 871658900930326598 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 18:11:51
 * Created by mr_miner#9699 (678541597654253600)
 * Snippet ID: 870552834410680370
 */
#message-actions-pin, #message-pin, #message-unpin{
    color: skyblue;
}
#message-actions-pin:hover, #message-pin:hover, #message-unpin:hover {
    background-color: #67a7c0;
    color: #fff;
}
#message-actions-reply, #message-reply {
    color: khaki;
}
#message-actions-reply:hover, #message-reply:hover {
    background-color: #c5bb5d;
    color: #fff;
}
#message-actions-thread, #message-thread {
    color: #69c069;
}
#message-actions-thread:hover, #message-thread:hover {
    background-color: #5dbd5d;
    color: #fff;
}
#message-actions-mark-unread, #message-mark-unread {
    color: plum;
}
#message-actions-mark-unread:hover, #message-mark-unread:hover {
    background-color: #c27ec2;
    color: #fff;
}
#message-actions-copy-link, #message-copy-link {
    color: lightseagreen;
}
#message-actions-copy-link:hover, #message-copy-link:hover {
    background-color: #199c96;
    color: #fff;
}
#message-actions-tts, #message-tts{
    color: var(--brand-experiment);
}
#message-actions-tts:hover, #message-tts:hover{
    background-color: var(--brand-experiment);
    color: #fff;
}
#message-actions-copy-id, #message-devmode-copy-id {
    color: lightsalmon;
}
#message-actions-copy-id:hover #message-devmode-copy-id:hover{
    background-color: lightsalmon;
    color: #fff;
}
#message-edit, #message-actions-edit{
    color: steelblue;
}
#message-edit:hover,  #message-actions-edit:hover{
    background-color: steelblue;
    color: #fff;
}
#message-add-reaction{
    color: goldenrod;
}
#message-add-reaction:hover{
    background-color: goldenrod;
    color: #fff;
}
/** 870552834410680370 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 18:15:39
 * Created by Davri#0015 (457579346282938368)
 * Snippet ID: 870035709090725888
 */
.container-2w6o5e {overflow: auto;}
/** 870035709090725888 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 18:16:33
 * Created by akisblack#6148 (845535118285602866)
 * Snippet ID: 869837169987026964
 */
@import url("https://akisblack.tech/DiscordAddons/Snippets/Original%20Case/index.css");
/** 869837169987026964 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 18:16:55
 * Created by legume#0173 (574870314928832533)
 * Snippet ID: 869102509346652170
 */
.wrapper-3t9DeA[data-bsi-radial-status="true"] .dots-3Bkt3k {
  overflow: visible;
}
.wrapper-3t9DeA[data-bsi-radial-status="true"] .dots-3Bkt3k circle {
  cy: -7.5;
}
.wrapper-3t9DeA[data-bsi-radial-status="true"] .dots-3Bkt3k circle:nth-child(1) {
  cx: -8.5;
}
.wrapper-3t9DeA[data-bsi-radial-status="true"] .dots-3Bkt3k circle:nth-child(2) {
  cx: -2.25;
}
.wrapper-3t9DeA[data-bsi-radial-status="true"] .dots-3Bkt3k circle:nth-child(3) {
  cx: 4;
}
.wrapper-3t9DeA[data-bsi-radial-status="true"] foreignObject[mask*="typing"] {
  mask: none;
}
.wrapper-3t9DeA[data-bsi-radial-status="true"] foreignObject[mask*="typing"] .avatar-VxgULZ {
  border-radius: 50%;
}
.wrapper-3t9DeA[data-bsi-radial-status="true"] .pointerEvents-2zdfdO[mask="url(#svg-mask-status-typing)"] {
  x: 1;
  y: 1;
  width: 30px;
  height: 30px;
  fill: rgba(0, 0, 0, 0.75);
  clip-path: circle();
}
/** 869102509346652170 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 18:17:08
 * Created by katlyn#9607 (250322741406859265)
 * Snippet ID: 869098705989554257
 */
.clamped-IwJfxR {
    -webkit-line-clamp: unset;
}
/** 869098705989554257 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 18:17:30
 * Created by Signal*87#2626 (739466247250378813)
 * Snippet ID: 867787580510961685
 */
/* Actually better join server tab */
.theme-light .root-1gCeng {
  background-color: #181818;
}
.theme-light .footer-2gL1pp {
  background-color: #181818;
  border-color: rgba(0, 0, 0);
  box-shadow: none;
}
.templatesList-2E6rTe {
  height: 335px;
}
div[class*="colorHeaderSecondary-3Sp3Ft size16-1P40sf subtitle-Nw1LLR"],
div[class*="colorHeaderSecondary-3Sp3Ft size12-3cLvbJ optionHeader-1-5lcp"],
div[class*="colorHeaderSecondary-3Sp3Ft size16-1P40sf subtitle-1Q3BuX"],
div[class*="colorHeaderSecondary-3Sp3Ft size14-e6ZScH skip-2o6MGG"],
div[class*="colorHeaderSecondary-3Sp3Ft size16-1P40sf subtitle-1KdHaN"],
div[class*="colorHeaderSecondary-3Sp3Ft size14-e6ZScH"],
div[class*="colorMuted-HdFt4q size12-3cLvbJ guidelines-1NSoht"],
h5[class*="colorStandard-2KCXvj size14-e6ZScH h5-18_1nd title-3sZWYQ formTitle-aeXUoN"], 
h5[class*="colorStandard-2KCXvj size14-e6ZScH h5-18_1nd title-3sZWYQ defaultMarginh5-2mL-bP"] {
  color: white;
}
.container-UC8Ug1 {
  background-color: #282828;
  margin-bottom: 8px;
}
.container-UC8Ug1:hover {
  background-color: black;
}
.container-UC8Ug1:active {
  background-color: #2F3136;
}
.base-1x0h_U,
.colorStandard-2KCXvj {
  color: white;
}
.footerButton-ayFTfX.button-38aScr.lookFilled-1Gx00P.colorGrey-2DXtkV.sizeMedium-1AC_Sl.grow-q77ONN {
  background-color: var(--accent);
  color:black;
}
.sampleLink-2NLvZg {
  color:gray;
}
button[class*="backButton-iA7KIs button-38aScr lookBlank-3eh9lL colorBrand-3pXr91 sizeMin-1mJd1x grow-q77ONN"], 
button[class*="button-38aScr lookLink-9FtZy- lowSaturationUnderline-3svVxy colorPrimary-3b3xI6 sizeMin-1mJd1x grow-q77ONN"], 
button[class*="button-38aScr lookBlank-3eh9lL colorBrand-3pXr91 sizeMin-1mJd1x grow-q77ONN"], 
.theme-light .lookLink-9FtZy-.colorPrimary-3b3xI6,
.anchor-3Z-8Bb {
  color: var(--accent);
}
/** 867787580510961685 */

/**
 * Snippet from #css-snippets applied the 19 Feb 2022 at 18:17:56
 * Created by botato#6883 (440990343899643943)
 * Snippet ID: 867474421366652988
 */
.customStatus-oN4ZZY > .customStatusEmoji-3a2-Zo.customStatusSoloEmoji-1tDhmL:only-child {
    margin-right: auto;
    margin-left: auto;
}
/** 867474421366652988 */
/**channeldms plugin */
.ChannelDms-channelpopout-popout{color:var(--header-primary)!important;border-radius:8px;resize:horizontal;overflow:hidden;direction:rtl}.ChannelDms-channelpopout-popout.ChannelDms-channelpopout-collapsed{width:100px!important}.ChannelDms-channelpopout-channelIcon,.ChannelDms-channelpopout-headerStatus{margin:0 8px!important}.ChannelDms-channelpopout-headerName{font-size:16px!important;font-family:var(--font-display)}.ChannelDms-channelpopout-popout .embedWrapper-1MtIDg,.ChannelDms-channelpopout-popout .embedWrapper-1MtIDg>.grid-1aWVsE>.imageWrapper-oMkQl4,.ChannelDms-channelpopout-popout .embedWrapper-1MtIDg>.imageWrapper-oMkQl4{height:auto!important;width:unset!important}.ChannelDms-channelpopout-popout .embedWrapper-1MtIDg>.grid-1aWVsE>.imageWrapper-oMkQl4 img,.ChannelDms-channelpopout-popout .embedWrapper-1MtIDg>.imageWrapper-oMkQl4 img,.ChannelDms-channelpopout-popout .embedWrapper-1MtIDg>img:not(.embedGalleryImageElement-2VNYIN){position:relative;height:auto!important;width:unset!important;max-width:100%}.ChannelDms-channelpopout-collapseButton{left:10px!important;top:2px!important;opacity:0}.ChannelDms-channelpopout-collapseButton:hover,.ChannelDms-channelpopout-popout.ChannelDms-channelpopout-collapsed .ChannelDms-channelpopout-collapseButton{opacity:1}.ChannelDms-channelpopout-popout>*{direction:ltr}.ChannelDms-channelpopout-removeButton{top:0!important;right:0!important;opacity:0}.ChannelDms-channelpopout-popout .button-1yVL_7{border-radius:0;width:100%;height:36px}

/* Rounded Context Menu */
.menu-1QACrS, .colorDefault-CDqZdO { 
    border-radius: 15px; 
}
/* Emoji Auto-Fill Animation */
.base-2v-uc0 {
    transition: all 0.5s;
}
.base-2v-uc0:hover {
    transition: all 0s;
    transform: scale(1.02);
}

/* settings/deafen/mute buttons animated */
.button-12Fmur:hover .contents-3ca1mk {animation: UserModalButtons 0.5s normal ease;}
  .container-YkUktl .noWrap-hBpHBz {width: 100px;opacity: 1;}
  .button-12Fmur {transition: 0.2s;}
  .button-12Fmur:hover {padding-bottom: 0px;transition: 0.2;}
  @keyframes UserModalButtons {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0px);
    }
  }

/* Animated Pings */
.numberBadge-37OJ3S {
  animation: animatedPing 1.3s infinite ease-in-out;
}
@keyframes animatedPing {
   0% {
     transform: rotate(-12deg); 
    }
   50% {
     transform: rotate(12deg) scale(1.2); 
    }
   100% {
     transform: rotate(-10deg);   
    }
}

/* Replace Wandering Cubes Spinner with gif*/
span[class="inner-26JK4f"]:after {
    background-image: url('https://c.tenor.com/7NX24XoJX0MAAAAM/loading-fast.gif');
    background-size: cover;
    display: inline-block;
    width: 32px;
    height: 32px;
    content:"";
}
span[class="inner-26JK4f"] > *{
    display: none;
}

.guilds-1SWlCJ .tree-2wKJdG:focus {
  outline-color: transparent;
}
.guilds-1SWlCJ .scroller-1Bvpku {
  contain: unset;
  margin-top: 56px;
}
.guilds-1SWlCJ .scroller-1Bvpku .tutorialContainer-11ICd5 {
  position: fixed;
  transform: translatey( -100% );
}
